body {
  background: #EEEEEE;
}

.grid-item {
  background: white;
}

.overview-item {
  width: 60vw;
  margin: 0 auto;
  background: white;
}

.overview-item>h3:not(:empty) {
  padding-top: 1rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: stretch;
  justify-items: stretch;
  gap: .8rem;
}

.app {
  text-align: center;
}